---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - gdp.standardchartered.com
  resources:
  - gdptenants
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gdp.standardchartered.com
  resources:
  - gdptenants/finalizers
  verbs:
  - update
- apiGroups:
  - gdp.standardchartered.com
  resources:
  - gdptenants/status
  verbs:
  - get
  - patch
  - update
