trigger:
  - develop
  - release/*
  - main

parameters:
  - name: releaseId
    type: string
    displayName: Release WorkItem ID
    default: "CI"
  - name: mode
    displayName: gdp-api run mode
    type: string
    default: go
    values:
      - helm
      - go
      - generic
  - name: helmchartFileName
    type: string
    displayName: helm chart
    default: gdp-api
  - name: helmchartVersion
    type: string
    displayName: helm chart version
    default: 1.0.0

resources:
  repositories:
    - repository: "go-template"
      type: "git"
      name: "dj-core/governed-templates"
      ref: "main"

pool: sc-linux

variables:
  - group: 55547-NonProd

extends:
  template: governed-template/build-and-deploy.yml@go-template
  parameters:
    releaseId: ${{ parameters.releaseId }}
    ITAM: 55547
    runDevStage: true
    ${{ if eq(parameters.mode, 'go') }}:
      buildStackName: go
      buildStackParams:
        goVersion: "1.25.0"
        archiveType: "zip"
        deployStackName: ansible
        deploymentFolderName: ansible
        dockerBuild: true
        dockerRepository: "tde/ado/gdp"
        imageListFilePath: images.yml
        sonarExclusions: "pkg/crd/**, pkg/constants/**, pkg/tenant/**, crd/**, ansible/**"
        dockerFilePaths:
          - path: "$(Build.Repository.Name)/Dockerfile"
            imageName: "gdp-api"
            imageTag: "v1.0.0"
            dockerBuildContext: "$(Build.Repository.Name)"
        goBuildTargets:
          - goOs: "linux"
            goArch: "amd64"
      deployStackName: ansible
    ${{ if eq(parameters.mode, 'chart') }}:
      buildStackName: generic
      buildStackParams:
        archiveType: "tar"
        folderPathArchive: charts
        TargetPathArtifactory: $(Build.Repository.Name)/
        helmPackageUpload: true
        helmArguments: $(Build.Repository.Name)/charts/${{ parameters.helmchartFileName }}/${{ parameters.helmchartVersion }}/ -d $(Build.SourcesDirectory)
        helmRelativePathArtifactory: $(Build.Repository.Name)/${{ parameters.helmchartFileName }}/
        # https://dev.azure.com/sc-ado/dj-core/_git/governed-templates?path=/steps/variable-replacement.yml
        preInputFileList:
          - charts/${{ parameters.helmchartFileName }}/${{ parameters.helmchartVersion }}/Chart.yaml
        prevariableList:
          - name: chartVersionTag
            value: $(Build.BuildId)
      deployStackName: skecaasapp
      deployStackParams:
        helmVersion: 3.15.0
        k8s_params:
          server: $(api_server)
          token: $(k8s_params_token)
    ${{ if eq(parameters.mode, 'generic') }}:
      buildStackName: generic
      buildStackParams:
        archiveType: "zip"
        folderPathArchive: ansible
        TargetPathArtifactory: $(Build.Repository.Name)/
    deployEnvironments:
      - name: dev
        environment: dev
        displayName: DEV
        notifyUsers: |
          jane.liu@sc.com
        pool: sc-linux
        ${{ if eq(parameters.mode, 'go') }}:
          inventoryPath: ansible/hosts
          playbookPath: ansible/init.yml
          globalSSHKey: true
        ${{ else }}:
          # Checkov parms
          helm_params:
            namespace: t-55547-gdpdev-kyuubi
            release: ${{ parameters.helmchartFileName }}
            chart: ${{ parameters.helmchartFileName }}
            values_file: "${{ parameters.helmchartFileName }}/values.yaml"
            extra_args: "--dry-run --debug"
      - name: qa
        environment: qa
        displayName: QA
        notifyUsers: jane.liu@sc.com
        pool: sc-linux
        ${{ if eq(parameters.mode, 'go') }}:
          inventoryPath: ansible/hosts
          playbookPath: ansible/init.yml
          globalSSHKey: true
        ${{ else }}:
          # Checkov parms
          helm_params:
            namespace: t-55547-gdpdev-kyuubi
            release: ${{ parameters.helmchartFileName }}
            chart: ${{ parameters.helmchartFileName }}
            values_file: "${{ parameters.helmchartFileName }}/values.yaml"
            extra_args: "--dry-run --debug"
        # hasGenie: false
        # dependsOn:
        #   - dev
      - name: release_checks
        environment: qa
        displayName: PRE-RELEASE
        dependsOn:
          - qa
        notifyUsers: jane.liu@sc.com
        pool: sc-linux
      - name: release
        environment: release
        displayName: RELEASE
        notifyUsers: jane.liu@sc.com
        pool: sc-linux
        # hasGenie: false
        dependsOn:
          - release_checks
      - name: prod
        environment: production
        displayName: PRODUCTION
        dependsOn:
          - release
        notifyUsers: jane.liu@sc.com
        pool: sc-linux
        ${{ if eq(parameters.mode, 'go') }}:
          inventoryPath: ansible/hosts
          playbookPath: ansible/init.yml
          globalSSHKey: true
        ${{ else }}:
          helm_params:
            namespace: t-55547-gdpdev-kyuubi
            release: ${{ parameters.helmchartFileName }}
            chart: ${{ parameters.helmchartFileName }}
            values_file: "${{ parameters.helmchartFileName }}/values.yaml"
            extra_args: "--dry-run --debug"
